DB_URL="duckdb:////data/duck_meta.db"
# Use this for local dev: DB_URL="duckdb:///./data/duck_meta.db"

ENABLE_REDIS_CACHE=False
# ENABLE_REDIS_CACHE=True
REDIS_HOST=redis
REDIS_PORT=6379

DEBUG=True
IDENTIFIERS_ORG_BASE_URL=https://identifiers.org/
WORKERS=1
