openapi: 3.0.3
info:
  title: Ensembl Web Metadata API
  description: Metadata API for beta.ensembl.org
  contact:
    email: ensembl-webteam@ebi.ac.uk
  version: 0.0.1
servers:
  - url: https://beta.ensembl.org
tags:
  - name: api
    description: Ensembl Web Metadata API
paths:
  /api/metadata/genome/{genome_id}/stats:
    get:
      tags:
        - api
      summary: Summary statistics for a genome
      description: Summary statistics for a genome
      parameters:
        - name: genome_id
          in: path
          required: true
          schema:
            type: string
            default: a7335667-93e7-11ec-a39d-005056b38ce3
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  genome_stats:
                    $ref: '#/components/schemas/SpeciesStats'
  /api/metadata/popular_species:
    get:
      description: List of 42 groups of genomes related to popular species
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  popular_species:
                    type: array
                    items:
                      $ref: '#/components/schemas/PopularSpecies'
  /api/metadata/popular_species/{group_id}:
    get:
      description: Returns a list of genomes associated with a given popular species
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
            example: some-id
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  group_id:
                    type: string
                    example: some-id
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/GenomeAssociatedWithPopularSpecies'
                  meta:
                    type: object
                    properties:
                      total_count:
                        type: number


components:
  schemas:
    SpeciesStats:
      type: object
      properties:
        assembly_stats:
          type: object
          properties:
            contig_n50:
              type: number
            total_genome_length:
              type: number
            total_coding_sequence_length:
              type: number
            total_gap_length:
              type: number
            spanned_gaps:
              type: number
            chromosomes:
              type: number
            toplevel_sequences:
              type: number
            component_sequences:
              type: number
            gc_percentage:
              type: number
          required:
            - contig_n50
            - total_genome_length
            - total_coding_sequence_length
            - total_gap_length
            - spanned_gaps
            - chromosomes
            - toplevel_sequences
            - component_sequences
            - gc_percentage
          additionalProperties: false
        coding_stats:
          type: object
          properties:
            coding_genes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            average_cds_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            coding_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            coding_transcripts_per_gene:
              type: number
            total_exons:
              type: number
            total_coding_exons:
              type: number
            average_exon_length:
              type: number
            average_coding_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            average_coding_exons_per_coding_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - coding_genes
            - average_genomic_span
            - average_sequence_length
            - average_cds_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - coding_transcripts
            - transcripts_per_gene
            - coding_transcripts_per_gene
            - total_exons
            - total_coding_exons
            - average_exon_length
            - average_coding_exon_length
            - average_exons_per_transcript
            - average_coding_exons_per_coding_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        non_coding_stats:
          type: object
          properties:
            non_coding_genes:
              type: number
            small_non_coding_genes:
              type: number
            long_non_coding_genes:
              type: number
            misc_non_coding_genes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            total_exons:
              type: number
            average_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - non_coding_genes
            - small_non_coding_genes
            - long_non_coding_genes
            - misc_non_coding_genes
            - average_genomic_span
            - average_sequence_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - transcripts_per_gene
            - total_exons
            - average_exon_length
            - average_exons_per_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        pseudogene_stats:
          type: object
          properties:
            pseudogenes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            total_exons:
              type: number
            average_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - pseudogenes
            - average_genomic_span
            - average_sequence_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - transcripts_per_gene
            - total_exons
            - average_exon_length
            - average_exons_per_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        homology_stats:
          type: object
          properties:
            coverage:
              type: number
            coverage_explanation:
              type: string
          required:
            - coverage
            - coverage_explanation
          additionalProperties: false
        variation_stats:
          properties:
            short_variants:
              type: number
            structural_variants:
              type: number
            short_variants_with_phenotype_assertions:
              type: number
            short_variants_with_publications:
              type: number
            short_variants_frequency_studies:
              type: number
            structural_variants_with_phenotype_assertions:
              type: number
          required:
            - short_variants
            - structural_variants
            - short_variants_with_phenotype_assertions
            - short_variants_with_publications
            - short_variants_frequency_studies
            - structural_variants_with_phenotype_assertions
          type: object
          nullable: true
        regulation_stats:
          type: object
          properties:
            enhancers:
              type: number
            promoters:
              type: number
          required:
            - enhancers
            - promoters
          nullable: true
      required:
        - assembly_stats
        - coding_stats
        - non_coding_stats
        - pseudogene_stats
        - homology_stats
        - variation_stats
        - regulation_stats
      additionalProperties: false
    PopularSpecies:
      type: object
      properties:
        species_taxonomy_id:
          anyOf:
            - type: string
            - type: number
        name:
          type: string
          description: Human-friendly text to show in the tooltip ( common_name if exists else scientific_name )
        image:
          type: string
          description: Url of the associated svg
        genomes_count:
          type: number
          description: The number of genomes associated with this species
      required:
        - id
        - name
        - image
        - members_count
    GenomeAssociatedWithPopularSpecies:
      properties:
        genome_id:
          type: string
          example: a7335667-93e7-11ec-a39d-005056b38ce3
        genome_tag:
          nullable: true
          type: string
          example: grch38
        common_name:
          nullable: true
          type: string
          example: Human
        scientific_name:
          type: string
          example: Homo sapiens
        type:
          $ref: '#/components/schemas/SpeciesTypeInGenome'
          nullable: true
        is_reference:
          type: boolean
        assembly:
          $ref: '#/components/schemas/AssemblyInGenome'
        coding_genes_count:
          type: number
          example: 20446
        contig_n50:
          nullable: true
          type: number
          example: 56413054
        has_variation:
          type: boolean
        has_regulation:
          type: boolean
        annotation_provider:
          type: string
          example: Ensembl
        annotation_method:
          type: string
          example: Full genebuild
        rank:
          nullable: true
          type: number
          example: 1
      required:
        - genome_id
        - genome_tag
        - common_name
        - scientific_name
        - type
        - is_reference
        - assembly
        - coding_genes_count
        - contig_n50
        - has_variation
        - has_regulation
        - annotation_provider
        - annotation_method
        - rank
      additionalProperties: false
      type: object
    AssemblyInGenome:
      properties:
        accession_id:
          type: string
          example: GCA_018466855.1
        name:
          type: string
          example: HG02559.alt.pat.f1_v2
        url:
          type: string
          example: https://www.ebi.ac.uk/ena/browser/view/GCA_018466855.1
      required:
        - accession_id
        - name
        - url
      additionalProperties: false
      type: object
    SpeciesTypeInGenome:
      properties:
        kind:
          type: string
          example: population
        value:
          type: string
          example: African Caribbean In Barbados
      required:
        - kind
        - value
      additionalProperties: false
      type: object
