openapi: 3.0.3
info:
  title: Ensembl Web Metadata API
  description: Metadata API for beta.ensembl.org
  contact:
    email: ensembl-webteam@ebi.ac.uk
  version: 0.0.1
servers:
  - url: https://beta.ensembl.org
tags:
  - name: api
    description: Ensembl Web Metadata API
paths:
  /api/metadata/genome/{genome_id}/stats:
    get:
      tags:
        - api
      summary: Summary statistics for a genome
      description: Summary statistics for a genome
      parameters:
        - name: genome_id
          in: path
          required: true
          schema:
            type: string
            default: a7335667-93e7-11ec-a39d-005056b38ce3
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  genome_stats:
                    $ref: '#/components/schemas/GenomeStats'
  /api/metadata/genome/{genome_id}/details:
    get:
      tags:
        - api
      description: Detailed information about a genome
      parameters:
        - name: genome_id
          in: path
          required: true
          schema:
            type: string
            default: a7335667-93e7-11ec-a39d-005056b38ce3
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenomeDetails'
  /api/metadata/popular_species:
    get:
      tags:
        - api
      description: List of 42 groups of genomes related to popular species
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  popular_species:
                    type: array
                    items:
                      $ref: '#/components/schemas/PopularSpecies'

components:
  schemas:
    GenomeStats:
      type: object
      properties:
        assembly_stats:
          type: object
          properties:
            contig_n50:
              type: number
            total_genome_length:
              type: number
            total_coding_sequence_length:
              type: number
            total_gap_length:
              type: number
            spanned_gaps:
              type: number
            chromosomes:
              type: number
            toplevel_sequences:
              type: number
            component_sequences:
              type: number
            gc_percentage:
              type: number
          required:
            - contig_n50
            - total_genome_length
            - total_coding_sequence_length
            - total_gap_length
            - spanned_gaps
            - chromosomes
            - toplevel_sequences
            - component_sequences
            - gc_percentage
          additionalProperties: false
        coding_stats:
          type: object
          properties:
            coding_genes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            average_cds_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            coding_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            coding_transcripts_per_gene:
              type: number
            total_exons:
              type: number
            total_coding_exons:
              type: number
            average_exon_length:
              type: number
            average_coding_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            average_coding_exons_per_coding_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - coding_genes
            - average_genomic_span
            - average_sequence_length
            - average_cds_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - coding_transcripts
            - transcripts_per_gene
            - coding_transcripts_per_gene
            - total_exons
            - total_coding_exons
            - average_exon_length
            - average_coding_exon_length
            - average_exons_per_transcript
            - average_coding_exons_per_coding_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        non_coding_stats:
          type: object
          properties:
            non_coding_genes:
              type: number
            small_non_coding_genes:
              type: number
            long_non_coding_genes:
              type: number
            misc_non_coding_genes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            total_exons:
              type: number
            average_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - non_coding_genes
            - small_non_coding_genes
            - long_non_coding_genes
            - misc_non_coding_genes
            - average_genomic_span
            - average_sequence_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - transcripts_per_gene
            - total_exons
            - average_exon_length
            - average_exons_per_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        pseudogene_stats:
          type: object
          properties:
            pseudogenes:
              type: number
            average_genomic_span:
              type: number
            average_sequence_length:
              type: number
            shortest_gene_length:
              type: number
            longest_gene_length:
              type: number
            total_transcripts:
              type: number
            transcripts_per_gene:
              type: number
            total_exons:
              type: number
            average_exon_length:
              type: number
            average_exons_per_transcript:
              type: number
            total_introns:
              type: number
            average_intron_length:
              type: number
          required:
            - pseudogenes
            - average_genomic_span
            - average_sequence_length
            - shortest_gene_length
            - longest_gene_length
            - total_transcripts
            - transcripts_per_gene
            - total_exons
            - average_exon_length
            - average_exons_per_transcript
            - total_introns
            - average_intron_length
          additionalProperties: false
        homology_stats:
          type: object
          properties:
            coverage:
              type: number
            coverage_explanation:
              type: string
          required:
            - coverage
            - coverage_explanation
          additionalProperties: false
        variation_stats:
          properties:
            short_variants:
              type: number
            structural_variants:
              type: number
            short_variants_with_phenotype_assertions:
              type: number
            short_variants_with_publications:
              type: number
            short_variants_frequency_studies:
              type: number
            structural_variants_with_phenotype_assertions:
              type: number
          required:
            - short_variants
            - structural_variants
            - short_variants_with_phenotype_assertions
            - short_variants_with_publications
            - short_variants_frequency_studies
            - structural_variants_with_phenotype_assertions
          type: object
          nullable: true
        regulation_stats:
          type: object
          properties:
            enhancers:
              type: number
            promoters:
              type: number
          required:
            - enhancers
            - promoters
          nullable: true
      required:
        - assembly_stats
        - coding_stats
        - non_coding_stats
        - pseudogene_stats
        - homology_stats
        - variation_stats
        - regulation_stats
      additionalProperties: false
    PopularSpecies:
      type: object
      properties:
        id:
          anyOf:
            - type: string
            - type: number
        name:
          type: string
          description: Human-friendly text to show in the tooltip
        image:
          type: string
          description: Url of the associated svg
        members_count:
          type: number
          description: The number of genomes associated with this species
      required:
        - id
        - name
        - image
        - members_count
    AssemblyInGenome:
      properties:
        accession_id:
          type: string
          example: GCA_018466855.1
        name:
          type: string
          example: HG02559.alt.pat.f1_v2
        url:
          type: string
          example: https://www.ebi.ac.uk/ena/browser/view/GCA_018466855.1
          nullable: true
      required:
        - accession_id
        - name
        - url
      additionalProperties: false
      type: object
    AssemblyProvider:
      type: object
      properties:
        name:
          type: string
          example: UCSC Genomics Institute
        url:
          type: string
          example: https://genomics.ucsc.edu
          nullable: true
      required:
        - name
        - url
    AnnotationProvider:
      type: object
      properties:
        name:
          type: string
          example: UCSC Genomics Institute
        url:
          type: string
          example: https://genomics.ucsc.edu
          nullable: true
      required:
        - name
        - url
    SpeciesTypeInGenome:
      properties:
        kind:
          type: string
          example: population
        value:
          type: string
          example: African Caribbean In Barbados
      required:
        - kind
        - value
      additionalProperties: false
      type: object
    GenomeDetails:
      properties:
        genome_id:
          type: string
          example: a7335667-93e7-11ec-a39d-005056b38ce3
        genome_tag:
          type: string
          example: grch38
          nullable: true
        taxonomy_id:
          type: string
          example: "9606"
          description: Identifier of the taxon that the genome belongs to.
            May be the same as species_taxonomy_id, or different.
        species_taxonomy_id:
          type: string
          example: "1"
          description: required to be able to retrieve a list of related genomes
        common_name:
          type: string
          example: human
        scientific_name:
          type: string
          example: Homo sapiens
        type:
          $ref: '#/components/schemas/SpeciesTypeInGenome'
          nullable: true
        is_reference:
          type: boolean
        assembly:
          $ref: '#/components/schemas/AssemblyInGenome'
        assembly_provider:
          $ref: '#/components/schemas/AssemblyProvider'
        assembly_level:
          type: string
          example: complete genome
        assembly_date:
          type: string
          description: ISO date string in the YYYY-MM format
          example: "2019-02"
        annotation_provider:
          $ref: '#/components/schemas/AnnotationProvider'
        annotation_method:
          type: string
          example: import
        annotation_version:
          type: string
          example: GENCODE 34
          nullable: true
        annotation_date:
          type: string
          description: ISO date string in the YYYY-MM format
          example: "2019-02"
        image_url:
          type: string
          description: Link to species image, if present
          example: http://beta.ensembl.org/static/genome_images/homo_sapiens_38.svg
          nullable: true
        related_genomes_count:
          type: number
          description: The number of genomes related to the current one via species taxonomy id.
            May just mean the number of alternative assemblies; but may also include genomes
            that have the same assembly, but different annotations.
      required:
        - genome_id
        - genome_tag
        - taxonomy_id
        - species_taxonomy_id
        - common_name
        - scientific_name
        - type
        - is_reference
        - assembly
        - assembly_provider
        - assembly_level
        - assembly_date
        - annotation_provider
        - annotation_method
        - annotation_version
        - annotation_date
        - image_url
        - related_genomes_count
      additionalProperties: false
      type: object
