annotated-types==0.5.0
anyio==3.7.1
click==8.1.7
ensembl-metadata-service @ git+https://github.com/Ensembl/ensembl-metadata-service.git@6419ef42c0a97727a8c163f62c9f83b9fa8a6bc6
exceptiongroup==1.1.3
fastapi==0.103.1
grpcio==1.38.1
grpcio-tools==1.38.1
h11==0.14.0
idna==3.4
loguru==0.7.2
protobuf==3.20.0
pydantic==2.4.1
pydantic_core==2.10.1
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
typing_extensions==4.8.0
uvicorn==0.23.2
